<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>378472776766-0dr9ak7vol170ns4d975i3fi8jdvgd1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378472776766-0dr9ak7vol170ns4d975i3fi8jdvgd1b</string>
	<key>API_KEY</key>
	<string>AIzaSyD5YbXyJwtVTVccq_DQvteuECtp8PkW7MM</string>
	<key>GCM_SENDER_ID</key>
	<string>378472776766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hr.klindic.chat</string>
	<key>PROJECT_ID</key>
	<string>nativescript-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>nativescript-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378472776766:ios:2e2666f0569eec6e</string>
	<key>DATABASE_URL</key>
	<string>https://nativescript-chat.firebaseio.com</string>
</dict>
</plist>